<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HelloIOs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>93278C341D7EB09E00C723B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93278C501D7EB09F00C723B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93278C5B1D7EB09F00C723B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
